<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Sale A-When?</title>
<link rel="stylesheet" type="text/css" href="view.css" media="all">
<script type="text/javascript" src="view.js"></script>

</head>
<body id="main_body" >
	
	<img id="top" src="top.png" alt="">
	<div id="form_container">
	
		<h1><a>Sale A-When?</a></h1>
		<form id="form_27713" class="appnitro"  method="GET" action="/result">
					<div class="form_description">
			<h2>What is the expected time-on-market for your Calgary home listing?</h2>
			<p>Please enter the following information about your Calgary home listing to see the typical number of days for similar listings to sell.</p>
		</div>						
			<ul >
			
					<li id="li_3" >
		<label class="description" for="element_3">Community </label>
		<div>
		<select class="element select large" id="element_3" name="element_3"> 
			<option value="" selected="selected"></option>
<option value="1">01F</option>
<option value="2">01G</option>
<option value="3">05D</option>
<option value="4">06A</option>
<option value="5">09K</option>
<option value="6">12A</option>
<option value="7">12B</option>
<option value="8">12C</option>
<option value="9">12J</option>
<option value="10">13K</option>
<option value="11">Abbeydale</option>
<option value="12">Acadia</option>
<option value="13">Albert Park/Radisson Heights</option>
<option value="14">Altadore</option>
<option value="15">Alyth/Bonnybrook</option>
<option value="16">Applewood Park</option>
<option value="17">Arbour Lake</option>
<option value="18">Aspen Woods</option>
<option value="19">Auburn Bay</option>
<option value="20">Aurora Business Park</option>
<option value="21">Banff Trail</option>
<option value="22">Bankview</option>
<option value="23">Bayview</option>
<option value="24">Beddington Heights</option>
<option value="25">Bel-Aire</option>
<option value="26">Belmont</option>
<option value="27">Beltline</option>
<option value="28">Belvedere</option>
<option value="29">Bonavista Downs</option>
<option value="30">Bowness</option>
<option value="31">Braeside</option>
<option value="32">Brentwood</option>
<option value="33">Bridgeland/Riverside</option>
<option value="34">Bridlewood</option>
<option value="35">Britannia</option>
<option value="36">Burns Industrial</option>
<option value="37">Calgary International Airport</option>
<option value="38">Cambrian Heights</option>
<option value="39">Canyon Meadows</option>
<option value="40">Capitol Hill</option>
<option value="41">Carrington</option>
<option value="42">Castleridge</option>
<option value="43">Cedarbrae</option>
<option value="44">Chaparral</option>
<option value="45">Charleswood</option>
<option value="46">Chinatown</option>
<option value="47">Chinook Park</option>
<option value="48">Christie Park</option>
<option value="49">Citadel</option>
<option value="50">Cityscape</option>
<option value="51">Cliff Bungalow</option>
<option value="52">Coach Hill</option>
<option value="53">Collingwood</option>
<option value="54">Copperfield</option>
<option value="55">Coral Springs</option>
<option value="56">Cornerstone</option>
<option value="57">Cougar Ridge</option>
<option value="58">Country Hills</option>
<option value="59">Country Hills Village</option>
<option value="60">Coventry Hills</option>
<option value="61">Cranston</option>
<option value="62">Crescent Heights</option>
<option value="63">Crestmont</option>
<option value="64">Currie Barracks</option>
<option value="65">Dalhousie</option>
<option value="66">Deer Ridge</option>
<option value="67">Deer Run</option>
<option value="68">Deerfoot Business Centre</option>
<option value="69">Diamond Cove</option>
<option value="70">Discovery Ridge</option>
<option value="71">Douglasdale/Glen</option>
<option value="72">Dover</option>
<option value="73">Downtown Commercial Core</option>
<option value="74">Downtown East Village</option>
<option value="75">Downtown West End</option>
<option value="76">Eagle Ridge</option>
<option value="77">East Fairview Industrial</option>
<option value="78">East Shepard Industrial</option>
<option value="79">Eastfield</option>
<option value="80">Eau Claire</option>
<option value="81">Edgemont</option>
<option value="82">Elbow Park</option>
<option value="83">Elboya</option>
<option value="84">Erin Woods</option>
<option value="85">Erlton</option>
<option value="86">Evanston</option>
<option value="87">Evergreen</option>
<option value="88">Fairview</option>
<option value="89">Fairview Industrial</option>
<option value="90">Falconridge</option>
<option value="91">Fish Creek Park</option>
<option value="92">Foothills</option>
<option value="93">Forest Heights</option>
<option value="94">Forest Lawn</option>
<option value="95">Forest Lawn Industrial</option>
<option value="96">Garrison Green</option>
<option value="97">Garrison Woods</option>
<option value="98">Glamorgan</option>
<option value="99">Glenbrook</option>
<option value="100">Glendale</option>
<option value="101">Greenview</option>
<option value="102">Greenview Industrial Park</option>
<option value="103">Hamptons</option>
<option value="104">Harvest Hills</option>
<option value="105">Hawkwood</option>
<option value="106">Haysboro</option>
<option value="107">Hidden Valley</option>
<option value="108">Highfield</option>
<option value="109">Highland Park</option>
<option value="110">Highwood</option>
<option value="111">Hillhurst</option>
<option value="112">Horizon</option>
<option value="113">Hounsfield Heights/Briar Hill</option>
<option value="114">Huntington Hills</option>
<option value="115">Inglewood</option>
<option value="116">Kelvin Grove</option>
<option value="117">Killarney/Glengarry</option>
<option value="118">Kincora</option>
<option value="119">Kingsland</option>
<option value="120">Lake Bonavista</option>
<option value="121">Lakeview</option>
<option value="122">Legacy</option>
<option value="123">Lincoln Park</option>
<option value="124">Livingston</option>
<option value="125">Lower Mount Royal</option>
<option value="126">Macewan Glen</option>
<option value="127">Mahogany</option>
<option value="128">Manchester</option>
<option value="129">Manchester Industrial</option>
<option value="130">Maple Ridge</option>
<option value="131">Marlborough</option>
<option value="132">Marlborough Park</option>
<option value="133">Martindale</option>
<option value="134">Mayfair</option>
<option value="135">Mayland Heights</option>
<option value="136">Mccall</option>
<option value="137">Mckenzie Lake</option>
<option value="138">Mckenzie Towne</option>
<option value="139">Meadowlark Park</option>
<option value="140">Meridian</option>
<option value="141">Midnapore</option>
<option value="142">Millrise</option>
<option value="143">Mission</option>
<option value="144">Monterey Park</option>
<option value="145">Montgomery</option>
<option value="146">Mount Pleasant</option>
<option value="147">New Brighton</option>
<option value="148">Nolan Hill</option>
<option value="149">North Airways</option>
<option value="150">North Glenmore Park</option>
<option value="151">North Haven</option>
<option value="152">North Haven Upper</option>
<option value="153">Nose Hill Park</option>
<option value="154">Oakridge</option>
<option value="155">Ogden</option>
<option value="156">Palliser</option>
<option value="157">Panorama Hills</option>
<option value="158">Parkdale</option>
<option value="159">Parkhill</option>
<option value="160">Parkland</option>
<option value="161">Patterson</option>
<option value="162">Penbrooke Meadows</option>
<option value="163">Pineridge</option>
<option value="164">Point Mckay</option>
<option value="165">Pump Hill</option>
<option value="166">Queensland</option>
<option value="167">Ramsay</option>
<option value="168">Ranchlands</option>
<option value="169">Red Carpet</option>
<option value="170">Redstone</option>
<option value="171">Renfrew</option>
<option value="172">Richmond</option>
<option value="173">Rideau Park</option>
<option value="174">Riverbend</option>
<option value="175">Rocky Ridge</option>
<option value="176">Rosedale</option>
<option value="177">Rosemont</option>
<option value="178">Rosscarrock</option>
<option value="179">Roxboro</option>
<option value="180">Royal Oak</option>
<option value="181">Royal Vista</option>
<option value="182">Rundle</option>
<option value="183">Rutland Park</option>
<option value="184">Saddle Ridge</option>
<option value="185">Sage Hill</option>
<option value="186">Sandstone Valley</option>
<option value="187">Scarboro</option>
<option value="188">Scarboro/ Sunalta West</option>
<option value="189">Scenic Acres</option>
<option value="190">Seton</option>
<option value="191">Shaganappi</option>
<option value="192">Shawnee Slopes</option>
<option value="193">Shawnessy</option>
<option value="194">Shepard Industrial</option>
<option value="195">Sherwood</option>
<option value="196">Signal Hill</option>
<option value="197">Silver Springs</option>
<option value="198">Silverado</option>
<option value="199">Skyline East</option>
<option value="200">Skyview Ranch</option>
<option value="201">Somerset</option>
<option value="202">South Airways</option>
<option value="203">South Calgary</option>
<option value="204">Southview</option>
<option value="205">Southwood</option>
<option value="206">Springbank Hill</option>
<option value="207">Spruce Cliff</option>
<option value="208">St. Andrews Heights</option>
<option value="209">Starfield</option>
<option value="210">Stoney 1</option>
<option value="211">Strathcona Park</option>
<option value="212">Sunalta</option>
<option value="213">Sundance</option>
<option value="214">Sunnyside</option>
<option value="215">Sunridge</option>
<option value="216">Taradale</option>
<option value="217">Temple</option>
<option value="218">Thorncliffe</option>
<option value="219">Tuscany</option>
<option value="220">Tuxedo Park</option>
<option value="221">University District</option>
<option value="222">University Heights</option>
<option value="223">Upper Mount Royal</option>
<option value="224">Valley Ridge</option>
<option value="225">Valleyfield</option>
<option value="226">Varsity</option>
<option value="227">Vista Heights</option>
<option value="228">Walden</option>
<option value="229">West Hillhurst</option>
<option value="230">West Springs</option>
<option value="231">Westgate</option>
<option value="232">Westwinds</option>
<option value="233">Whitehorn</option>
<option value="234">Wildwood</option>
<option value="235">Willow Park</option>
<option value="236">Windsor Park</option>
<option value="237">Winston Heights/Mountview</option>
<option value="238">Woodbine</option>
<option value="239">Woodlands</option>

		</select>
		</div><p class="guidelines" id="guide_3"><small>The community where your home is located.</small></p> 
		</li>		<li id="li_1" >
		<label class="description" for="element_1">Listed Price </label>
		<div>
			<input id="element_1" name="element_1" class="element text small" type="text" maxlength="255" value=""/> 
		</div><p class="guidelines" id="guide_1"><small>What is the listed price in dollars?</small></p> 
		</li>		<li id="li_4" >
		<label class="description" for="element_4">Number of Bedrooms </label>
		<div>
		<select class="element select small" id="element_4" name="element_4"> 
			<option value="1" >1</option>
<option value="2" >2</option>
<option value="3" selected="selected">3</option>
<option value="4" >4</option>
<option value="5" >5</option>
<option value="6" >6</option>
<option value="7" >7</option>
<option value="8" >8</option>
<option value="9" >9</option>
<option value="10" >10</option>

		</select>
		</div><p class="guidelines" id="guide_4"><small>How many bedrooms are in the home?</small></p> 
		</li>		<li id="li_5" >
		<label class="description" for="element_5">Number of Full Bathrooms </label>
		<div>
		<select class="element select small" id="element_5" name="element_5"> 
			<option value="1" selected="selected">1</option>
<option value="2" >2</option>
<option value="3" >3</option>
<option value="4" >4</option>
<option value="5" >5</option>
<option value="6" >6</option>

		</select>
		</div><p class="guidelines" id="guide_5"><small>How many full bathrooms (with sink, toilet, and bath/shower) are in the home?</small></p> 
		</li>		<li id="li_6" >
		<label class="description" for="element_6">Number of Half Bathrooms </label>
		<div>
		<select class="element select small" id="element_6" name="element_6"> 
			<option value="" selected="selected"></option>
<option value="1" >1</option>
<option value="2" >2</option>
<option value="3" >3</option>

		</select>
		</div><p class="guidelines" id="guide_6"><small>How many half bathrooms are in the home?</small></p> 
		</li>		<li id="li_2" >
		<label class="description" for="element_2">Square Footage </label>
		<div>
			<input id="element_2" name="element_2" class="element text small" type="text" maxlength="255" value=""/> 
		</div><p class="guidelines" id="guide_2"><small>What is the square footage of the home (above ground)?</small></p> 
		</li>		<li id="li_7" >
		<label class="description" for="element_7">Level of Confidence for the Sale Time Estimate </label>
		<div>
			<input id="element_7" name="element_7" class="element text small" type="text" maxlength="255" value=""/> 
		</div><p class="guidelines" id="guide_7"><small>For example, entering 99 will estimate the number of days that 99% of homes like yours would sell.</small></p> 
		</li>
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="27713" />
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		</li>
			</ul>
		</form>	
<!--
		<div id="footer">
			Generated by <a href="http://www.phpform.org">pForm</a>
		</div>
//-->
		<div class="form_description">
			<p>This listing is {{quantile}}% likely to sell in {{saletime}} days.</p>
		</div>

	</div>
	<img id="bottom" src="bottom.png" alt="">
	</body>
</html>